<div class="content" id='slide_<%= slide.id %>'></div>
<div class="gap gap-100" style="background-image:url(<%= slide.img %>);">
  <h2><%= slide.text %></h2>              
  <br><button style="float:middle;"><img src="images/love-it.png" height="20" width="21" /></button>
                                            
</div>

