<div class="content" id="bacons"></div>
<div class="gap gap-100" style="background-image:url(images/japan.jpg);">
  <h2>Japan has more than 50,000 people who are over 100 years old.</h2>              
  <br><button style="float:middle;"><img src="images/love-it.png" height="20" width="21" /></button>
                                            
</div>

