
  <body>
    <div id="st-container" class="st-container">
      <!-- content push wrapper -->
      
    <div class="st-pusher">
                
  <div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#dragons + .gap"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">
      
      <div
        class="parallax-image parallax-image-100"
        style="background-image:url(images/amazon.jpg)"
        data-anchor-target="#dragons + .gap"
        data-bottom-top="transform: translate3d(0px, -100%, 0px);"
        data-top-bottom="transform: translate3d(0px, 100%, 0px);">
      </div>
    <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
  </div>

  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#bacons + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(images/japan.jpg)"
      data-anchor-target="#bacons + .gap"
      data-bottom-top="transform: translate3d(0px, -100%, 0px);"
      data-top-bottom="transform: translate3d(0px, 100%, 0px);"
    ></div>
  </div>
  
  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#puffin + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(images/london.jpeg)"
      data-anchor-target="#puffin + .gap"
      data-bottom-top="transform: translate3d(0px, -100%, 0px);"
      data-top-bottom="transform: translate3d(0px, 100%, 0px);"
    ></div>

  </div>
  
  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#camel + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(images/camel.jpg)"
      data-anchor-target="#camel + .gap"
      data-bottom-top="transform: translate3d(0px, -100%, 0px);"
      data-top-bottom="transform: translate3d(0px, 100%, 0px);"
    ></div>
  </div>
  
  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#canada + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(images/canada.jpg)"
      data-anchor-target="#canada + .gap"
      data-bottom-top="transform: translate3d(0px, -100%, 0px);"
      data-top-bottom="transform: translate3d(0px, 100%, 0px);"
    ></div>
  </div>
  
  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#paraguay + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(images/paraguay.jpg)"
      data-anchor-target="#paraguay + .gap"
      data-bottom-top="transform: translate3d(0px, -100%, 0px);"
      data-top-bottom="transform: translate3d(0px, 100%, 0px);"
    ></div>
  </div>
  
  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#hulunbuir + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(images/hulunbuir.jpg)"
      data-anchor-target="#hulunbuir + .gap"
      data-bottom-top="transform: translate3d(0px, -100%, 0px);"
      data-top-bottom="transform: translate3d(0px, 100%, 0px);"
    ></div>
  </div>
  
  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#russia + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(images/russia.jpg)"
      data-anchor-target="#russia + .gap"
      data-bottom-top="transform: translate3d(0px, -100%, 0px);"
      data-top-bottom="transform: translate3d(0px, 100%, 0px);"
    ></div>
  </div>
  
  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#donkey + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(images/donkey.jpg)"
      data-anchor-target="#donkey + .gap"
      data-bottom-top="transform: translate3d(0px, -100%, 0px);"
      data-top-bottom="transform: translate3d(0px, 100%, 0px);"
    ></div>
  </div>
  
  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#everest + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(images/everest.jpg)"
      data-anchor-target="#everest + .gap"
      data-bottom-top="transform: translate3d(0px, -100%, 0px);"
      data-top-bottom="transform: translate3d(0px, 100%, 0px);"
    ></div>
  </div>

<div id="skrollr-body">
    <div class="header" id="dragons"></div>

    <div class="gap gap-100" style="background-image:url(images/amazon.jpg);">
        <div id="st-trigger-effects" class="column">                
                <button data-effect="st-effect-2" style="float:left;" align="left"><img src="images/w.png" height="40" width="40" /><button>
                                                
              </div>
      <h2>Over 400 indigenous Amerindian tribes call the Amazon rainforest home. Around 50 of these tribes have never had contact with the outside world.</h2>
      <br><button style="float:middle;"><img src="images/love-it.png" height="25" width="26" /></button>
</div>
    
    <div class="content" id="bacons"></div>
    <div class="gap gap-100" style="background-image:url(images/japan.jpg);">
      <h2>Japan has more than 50,000 people who are over 100 years old.</h2>              
      <br><button style="float:middle;"><img src="images/love-it.png" height="20" width="21" /></button>
                                                
    </div>

    <div class="content" id="puffin">
    </div>
    <div class="gap gap-100" style="background-image:url(images/london.jpg);">
<h2>There are more than 300 languages spoken in London, more than in any other city in the world.</h2>
<br><button style="float:middle;"><img src="images/love-it.png" height="20" width="21" /></button><a class="share2" href="#">share</a>
</div>
    <div class="content" id="camel">

    </div>
    <div class="gap gap-100" style="background-image:url(images/camel.jpg);">
<h2>The Sahara Desert is larger than the 48 Contiguous United States.</h2>
<br><button style="float:middle;"><img src="images/love-it.png" height="20" width="21" /></button><a class="share3" href="#">share</a>
    </div>
    <div class="content" id="canada">

    </div>
    <div class="gap gap-100" style="background-image:url(images/canada.jpg);">
<h2>Forget the Loch Ness Monster: Some Canadians believe in its own mysterious lake creature, Ogopogo, who reportedly lives in Lake Okanagan, British Columbia.</h2>
<br><button style="float:middle;"><img src="images/love-it.png" height="20" width="21" /></button><a class="share4" href="#">share</a>
</div>
    <div class="content" id="paraguay">
    </div>
    <div class="gap gap-100" style="background-image:url(images/paraguay.jpg);">
<h2>Dueling is legal in Paraguay as long as both parties are registered blood donors.</h2>
<br><button style="float:middle;"><img src="images/love-it.png" height="20" width="21" /></button><a class="share5" href="#">share</a>
</div>

    <div class="content" id="hulunbuir">
    </div>
    <div class="gap gap-100" style="background-image:url(images/hulunbuir.jpg);">
<h2>The largest city in the world – based on surface area, is Hulunbuir, Inner Mongolia which is 263,953 km squared.</h2>
<br><button style="float:middle;"><img src="images/love-it.png" height="20" width="21" /></button><a class="share6" href="#">share</a>
</div>

    <div class="content" id="russia">
    </div>
    <div class="gap gap-100" style="background-image:url(images/russia.jpg);">
<h2>Ten percent of the Russian government's income comes from the sale of vodka. </h2>
<br><button style="float:middle;"><img src="images/love-it.png" height="20" width="21" /></button><a class="share7" href="#">share</a>
</div>

    <div class="content" id="donkey">
    </div>
    <div class="gap gap-100" style="background-image:url(images/donkey.jpg);">
<h2>The United States has never lost a war when donkeys were used.</h2>
<br><button style="float:middle;"><img src="images/love-it.png" height="20" width="21" /></button><a class="share8" href="#">share</a>
</div>

    <div class="content" id="everest">
    </div>
    <div class="gap gap-100" style="background-image:url(images/everest.jpg);">
<h2>In 2006, the number of climbers summiting Mt. Everest reached  3000, and the number of deaths on the mountain reached 207. An estimated 80 bodies lay in view of the peak.</h2>
<br><button style="float:middle;"><img src="images/love-it.png" height="20" width="21" /></button><a class="share9" href="#">share</a>
</div>

  </div>        
                
                
      </div><!-- /st-pusher -->
    </div><!-- /st-container -->
        
       
        
        <script>
$(document).ready( function() {
  var timer;  //timer for splash screen
  
  //navigation swap
  $('#navigation a').on('click', function() {
    if( !$(this).hasClass('btn-main') ) {
      $('#navigation a')
      .toggleClass('btn-secondary')
      .toggleClass('btn-main');
      
      var tar = $(this).attr('href');
      $('.st-container').fadeOut(500, function() {
        $(tar).fadeIn(500);
      });
    }
    return false;
  });
  $('#set2').hide();
  $('#header').css('top', '-100px');
  $('#footer').css('bottom', '-100px');
  $('#st-container').hide();

  
  //calling jPreLoader
  $('body').jpreLoader({
    splashID: "#jSplash",
    loaderVPos: '70%',
    autoClose: true,
    closeBtnText: "Let's Begin!",
    splashFunction: function() {  
      //passing Splash Screen script to jPreLoader
      $('#jSplash').children('section').not('.selected').hide();
      $('#jSplash').hide().fadeIn(800);
      
      timer = setInterval(function() {
        splashRotator();
      }, 4000);
    }
  }, function() { //callback function
    clearInterval(timer);
    $('#footer')
    .animate({"bottom":0}, 500);
    $('#st-container')
    .animate({"top":0}, 800, function() {
      $('#st-container').fadeIn(1000);
    });
  });
  
  //create splash screen animation
  function splashRotator(){
    var cur = $('#jSplash').children('.selected');
    var next = $(cur).next();
    
    if($(next).length != 0) {
      $(next).addClass('selected');
    } else {
      $('#jSplash').children('section:first-child').addClass('selected');
      next = $('#jSplash').children('section:first-child');
    }
      
    $(cur).removeClass('selected').fadeOut(800, function() {
      $(next).fadeIn(800);
    });
  }
});
</script>
       <script src="js/classie.js"></script>
    <script src="js/sidebarEffects.js"></script> 
    <script type="text/javascript" src="skrollr.min.js"></script>
  <script type="text/javascript">
  skrollr.init({
    smoothScrolling: false,
    mobileDeceleration: 0.004
  });
  </script>
   
  </body>
</html>